RewriteEngine On

Options All -Indexes

RewriteRule accueil views/home.php
RewriteRule ^/?$ accueil
RewriteRule search views/search.php
RewriteRule figure views/figure.php
RewriteRule about views/about.php
RewriteRule connexion views/connexion.php
RewriteRule account views/account.php
RewriteRule createAccount views/createAccount.php
RewriteRule contact views/contact.php
RewriteRule myCollection views/myCollection.php
RewriteRule myWishes views/myWishes.php
RewriteRule adminUser views/adminUser.php
RewriteRule modifUser views/modifUser.php
RewriteRule createUser views/createUser.php
RewriteRule gallery views/gallery.php
RewriteRule adminGallery views/adminGallery.php
RewriteRule modifGallery views/modifGallery.php
RewriteRule adminFigure views/adminFigure.php
RewriteRule createFigure views/createFigure.php
RewriteRule modifFigure views/modifFigure.php
RewriteRule createSerie views/createSerie.php
RewriteRule addFigureSerie views/addFigureSerie.php
RewriteRule removeFigureSerie views/removeFigureSerie.php
RewriteRule forgotPassword views/forgotPassword.php
RewriteRule profile views/profile.php
RewriteRule myGallery views/myGallery.php
RewriteRule sendMail views/sendMail.php
RewriteRule collection views/collection.php
RewriteRule wishes views/wishes.php
RewriteRule CGU views/CGU.php
RewriteRule legalNotice views/legalNotice.php

ErrorDocument 404 /views/404.php