html, body{
    font-family: 'Livvic', sans-serif;
}

.backG {
    background: url("../img/background.jpg") no-repeat;
    background-position: fixed;
}

.logo {
    height: 5rem;
    width: auto;
}

.logo4stars {
    height: 2.5rem;
    width: auto;
}


.actu, .upgrade, .footLink, .footLinkDark{
    text-decoration: none;
    color: inherit;
}

.actu:hover, .upgrade:hover {
    color: red;
}

.account {
    color: rgba(0,0,0,0.55);
}

.account:hover, .footLink:hover {
    color: rgba(0,0,0,0.75);
}

.accountDark {
    color: rgba(255,255,255,0.55);
}

.accountDark:hover, .footLinkDark:hover{
    color: rgba(255,255,255,0.75);
}

.logoZ {
    height: 2rem;
    width: auto;
}

.content {
    border: 2px solid black;
}

th {
    text-align: center!important;
    vertical-align: middle!important;
}


footer {
    border-top: 1px solid black;    
}

@media screen and (max-width: 992px) {
    .backG {
        background: none;
    }

    .content {
        margin-top: 1rem;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    table {
        text-align: center;
    }
}